version: "3"

services:
  # mariadb:
  # image: mariadb:10.2
  # container_name: mariadb_container
  # environment:
  #   MYSQL_ROOT_USER: root
  #   MYSQL_ROOT_PASSWORD: root
  #   MYSQL_DATABASE: db
  #   MYSQL_USER: user
  #   MYSQL_PASSWORD: password
  #   TZ: "Asia/Tokyo"
  #   BIND_ADDRESS: 0.0.0.0
  # volumes:
  #   - ./database/data:/var/lib/mariadb
  #   - ./database/my.cnf:/etc/mysql/conf.d/my.cnf
  #   - ./database/initdb.d:/docker-entrypoint-initdb.d
  # ports:
  #   - 3306:3306
  # healthcheck:
  #   test: mysqladmin ping -h localhost -u $$MYSQL_ROOT_USER --password=$$MYSQL_ROOT_PASSWORD
  #   interval: 2s
  #   timeout: 10s
  #   retries: 5

  phpmyadmin:
    image: phpmyadmin
    container_name: phpmyadmin_container
    # depends_on:
    #   - testdb
    environment:
      - PMA_ARBITRARY=1
      - PMA_HOSTS=host.docker.internal
      - PMA_USER=root
      - PMA_PASSWORD=root
    ports:
      - 8080:80
    volumes:
      - ./phpmyadmin/sessions:/sessions
  # smtp:
  #   image: mailhog/mailhog
  #   container_name: smtp_server
  #   ports:
  #     - 1025:1025
  #     - 8025:8025

  # web-server:
  #   image: web-server
  #   build:
  #     context: .
  #     dockerfile: ./view/Dockerfile
  #   container_name: web-server_container
  #   ports:
  #     - "3000:3000"

  # api-server:
  #   image: api-server
  #   build:
  #     context: .
  #     dockerfile: ./Dockerfile
  #   container_name: api-server_container
  #   # depends_on:
  #   #   - testdb
  #   environment:
  #     - DB_HOST=testdb
  #     - DB_USER=user
  #     - DB_PASSWORD=password
  #     - DB_PORT=3306
  #     - DB_NAME=db
  #   ports:
  #     - 1323:1323
